In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X=df.iloc[:,3:13]
y=df.iloc[:,13]

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [8]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [9]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [10]:
X=pd.concat([X,geography,gender],axis=1)

In [11]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [12]:
X=X.drop(['Geography','Gender'],axis=1)

In [13]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
X_train.shape

(8000, 11)

In [17]:
y_train.shape

(8000,)

In [18]:
X_test.shape

(2000, 11)

In [19]:
y_test.shape

(2000,)

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [21]:
import keras
from keras.models import Sequential
from keras.layers import Dense
#form keras.layers import LeakyReLU,PReLU,ReLU
from keras.layers import Dropout

Using TensorFlow backend.

In [23]:
model=Sequential()
model.add(Dense(units=10,kernel_initializer='he_uniform',activation='relu',input_dim=11))
model.add(Dropout(0.3))

WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [26]:
model.add(Dense(units=20,kernel_initializer='he_uniform',activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(units=15,kernel_initializer='he_uniform',activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [27]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                120
_________________________________________________________________
dropout_1 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_2 (Dense)              (None, 20)                220
_________________________________________________________________
dense_3 (Dense)              (None, 20)                420
_________________________________________________________________
dropout_2 (Dropout)          (None, 20)                0
_________________________________________________________________
dense_4 (Dense)              (None, 15)                315
_________________________________________________________________
dropout_3 (Dropout)          (None, 15)                0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 16
=================================================================
Total params: 1,091
Trainable params: 1,091
Non-trainable params: 0
_________________________________________________________________

In [28]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [29]:
history=model.fit(X_train,y_train,validation_split=0.33,batch_size=10,nb_epoch=100)

WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\Vaibhav\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 5s 925us/step - loss: 0.5870 - acc: 0.7498 - val_loss: 0.5026 - val_acc: 0.7955
Epoch 2/100
5359/5359 [==============================] - 3s 533us/step - loss: 0.5054 - acc: 0.7940 - val_loss: 0.4772 - val_acc: 0.7959
Epoch 3/100
5359/5359 [==============================] - 3s 521us/step - loss: 0.4894 - acc: 0.7964 - val_loss: 0.4631 - val_acc: 0.7986
Epoch 4/100
5359/5359 [==============================] - 3s 570us/step - loss: 0.4771 - acc: 0.7975 - val_loss: 0.4542 - val_acc: 0.8008
Epoch 5/100
5359/5359 [==============================] - 3s 480us/step - loss: 0.4653 - acc: 0.8009 - val_loss: 0.4443 - val_acc: 0.8035
Epoch 6/100
5359/5359 [==============================] - 3s 504us/step - loss: 0.4606 - acc: 0.8005 - val_loss: 0.4404 - val_acc: 0.8073
Epoch 7/100
5359/5359 [==============================] - 4s 725us/step - loss: 0.4503 - acc: 0.8056 - val_loss: 0.4366 - val_acc: 0.8095
Epoch 8/100
5359/5359 [==============================] - 4s 761us/step - loss: 0.4479 - acc: 0.8093 - val_loss: 0.4337 - val_acc: 0.8103
Epoch 9/100
5359/5359 [==============================] - 4s 712us/step - loss: 0.4426 - acc: 0.8095 - val_loss: 0.4343 - val_acc: 0.8073
Epoch 10/100
5359/5359 [==============================] - 4s 714us/step - loss: 0.4413 - acc: 0.8097 - val_loss: 0.4370 - val_acc: 0.8126
Epoch 11/100
5359/5359 [==============================] - 4s 706us/step - loss: 0.4375 - acc: 0.8140 - val_loss: 0.4333 - val_acc: 0.8167
Epoch 12/100
5359/5359 [==============================] - 3s 529us/step - loss: 0.4317 - acc: 0.8141 - val_loss: 0.4303 - val_acc: 0.8190
Epoch 13/100
5359/5359 [==============================] - 3s 606us/step - loss: 0.4317 - acc: 0.8076 - val_loss: 0.4288 - val_acc: 0.8118
Epoch 14/100
5359/5359 [==============================] - 4s 731us/step - loss: 0.4299 - acc: 0.8136 - val_loss: 0.4275 - val_acc: 0.8186
Epoch 15/100
5359/5359 [==============================] - 4s 714us/step - loss: 0.4292 - acc: 0.8143 - val_loss: 0.4292 - val_acc: 0.8198
Epoch 16/100
5359/5359 [==============================] - 4s 701us/step - loss: 0.4257 - acc: 0.8201 - val_loss: 0.4241 - val_acc: 0.8167
Epoch 17/100
5359/5359 [==============================] - 4s 696us/step - loss: 0.4217 - acc: 0.8212 - val_loss: 0.4137 - val_acc: 0.8205
Epoch 18/100
5359/5359 [==============================] - 4s 707us/step - loss: 0.4193 - acc: 0.8285 - val_loss: 0.4091 - val_acc: 0.8338
Epoch 19/100
5359/5359 [==============================] - 4s 682us/step - loss: 0.4117 - acc: 0.8240 - val_loss: 0.4017 - val_acc: 0.8364
Epoch 20/100
5359/5359 [==============================] - 4s 691us/step - loss: 0.4091 - acc: 0.8296 - val_loss: 0.3980 - val_acc: 0.8391
Epoch 21/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.4137 - acc: 0.8246 - val_loss: 0.3988 - val_acc: 0.8342
Epoch 22/100
5359/5359 [==============================] - 4s 696us/step - loss: 0.4105 - acc: 0.8294 - val_loss: 0.3943 - val_acc: 0.8304
Epoch 23/100
5359/5359 [==============================] - 4s 686us/step - loss: 0.4023 - acc: 0.8358 - val_loss: 0.3927 - val_acc: 0.8429
Epoch 24/100
5359/5359 [==============================] - 3s 651us/step - loss: 0.3973 - acc: 0.8377 - val_loss: 0.3826 - val_acc: 0.8444
Epoch 25/100
5359/5359 [==============================] - 3s 515us/step - loss: 0.4041 - acc: 0.8328 - val_loss: 0.3896 - val_acc: 0.8349
Epoch 26/100
5359/5359 [==============================] - 4s 801us/step - loss: 0.3907 - acc: 0.8397 - val_loss: 0.3793 - val_acc: 0.8478
Epoch 27/100
5359/5359 [==============================] - 4s 703us/step - loss: 0.3995 - acc: 0.8360 - val_loss: 0.3910 - val_acc: 0.8376
Epoch 28/100
5359/5359 [==============================] - 2s 409us/step - loss: 0.3953 - acc: 0.8377 - val_loss: 0.3799 - val_acc: 0.8466
Epoch 29/100
5359/5359 [==============================] - 3s 493us/step - loss: 0.3900 - acc: 0.8375 - val_loss: 0.3757 - val_acc: 0.8429
Epoch 30/100
5359/5359 [==============================] - 3s 483us/step - loss: 0.3835 - acc: 0.8433 - val_loss: 0.3873 - val_acc: 0.8383
Epoch 31/100
5359/5359 [==============================] - 3s 503us/step - loss: 0.3877 - acc: 0.8408 - val_loss: 0.3738 - val_acc: 0.8459
Epoch 32/100
5359/5359 [==============================] - 4s 708us/step - loss: 0.3829 - acc: 0.8416 - val_loss: 0.3735 - val_acc: 0.8421
Epoch 33/100
5359/5359 [==============================] - 4s 700us/step - loss: 0.3912 - acc: 0.8431 - val_loss: 0.3806 - val_acc: 0.8436
Epoch 34/100
5359/5359 [==============================] - 4s 691us/step - loss: 0.3814 - acc: 0.8459 - val_loss: 0.3691 - val_acc: 0.8504
Epoch 35/100
5359/5359 [==============================] - 4s 693us/step - loss: 0.3888 - acc: 0.8406 - val_loss: 0.3792 - val_acc: 0.8448
Epoch 36/100
5359/5359 [==============================] - 4s 697us/step - loss: 0.3863 - acc: 0.8401 - val_loss: 0.3792 - val_acc: 0.8436
Epoch 37/100
5359/5359 [==============================] - 4s 687us/step - loss: 0.3852 - acc: 0.8421 - val_loss: 0.3696 - val_acc: 0.8478
Epoch 38/100
5359/5359 [==============================] - 4s 695us/step - loss: 0.3865 - acc: 0.8427 - val_loss: 0.3779 - val_acc: 0.8364
Epoch 39/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3884 - acc: 0.8390 - val_loss: 0.3764 - val_acc: 0.8440
Epoch 40/100
5359/5359 [==============================] - 4s 690us/step - loss: 0.3799 - acc: 0.8447 - val_loss: 0.3741 - val_acc: 0.8455
Epoch 41/100
5359/5359 [==============================] - 4s 691us/step - loss: 0.3775 - acc: 0.8496 - val_loss: 0.3792 - val_acc: 0.8398
Epoch 42/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3850 - acc: 0.8449 - val_loss: 0.3751 - val_acc: 0.8463
Epoch 43/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3886 - acc: 0.8427 - val_loss: 0.3750 - val_acc: 0.8440
Epoch 44/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3772 - acc: 0.8451 - val_loss: 0.3742 - val_acc: 0.8459
Epoch 45/100
5359/5359 [==============================] - 4s 688us/step - loss: 0.3797 - acc: 0.8425 - val_loss: 0.3821 - val_acc: 0.8413
Epoch 46/100
5359/5359 [==============================] - 4s 736us/step - loss: 0.3792 - acc: 0.8442 - val_loss: 0.3784 - val_acc: 0.8368
Epoch 47/100
5359/5359 [==============================] - 3s 647us/step - loss: 0.3803 - acc: 0.8431 - val_loss: 0.3779 - val_acc: 0.8387
Epoch 48/100
5359/5359 [==============================] - 4s 691us/step - loss: 0.3793 - acc: 0.8431 - val_loss: 0.3747 - val_acc: 0.8372
Epoch 49/100
5359/5359 [==============================] - 4s 661us/step - loss: 0.3797 - acc: 0.8433 - val_loss: 0.3740 - val_acc: 0.8451
Epoch 50/100
5359/5359 [==============================] - 4s 689us/step - loss: 0.3782 - acc: 0.8449 - val_loss: 0.3776 - val_acc: 0.8330
Epoch 51/100
5359/5359 [==============================] - 4s 690us/step - loss: 0.3807 - acc: 0.8414 - val_loss: 0.3731 - val_acc: 0.8451
Epoch 52/100
5359/5359 [==============================] - 4s 677us/step - loss: 0.3769 - acc: 0.8410 - val_loss: 0.3695 - val_acc: 0.8425
Epoch 53/100
5359/5359 [==============================] - 4s 699us/step - loss: 0.3764 - acc: 0.8397 - val_loss: 0.3778 - val_acc: 0.8429
Epoch 54/100
5359/5359 [==============================] - 4s 703us/step - loss: 0.3812 - acc: 0.8423 - val_loss: 0.3771 - val_acc: 0.8406
Epoch 55/100
5359/5359 [==============================] - 4s 694us/step - loss: 0.3745 - acc: 0.8421 - val_loss: 0.3802 - val_acc: 0.8368
Epoch 56/100
5359/5359 [==============================] - 4s 697us/step - loss: 0.3795 - acc: 0.8425 - val_loss: 0.3815 - val_acc: 0.8413
Epoch 57/100
5359/5359 [==============================] - 3s 621us/step - loss: 0.3789 - acc: 0.8423 - val_loss: 0.3761 - val_acc: 0.8429
Epoch 58/100
5359/5359 [==============================] - 4s 711us/step - loss: 0.3757 - acc: 0.8429 - val_loss: 0.3680 - val_acc: 0.8497
Epoch 59/100
5359/5359 [==============================] - 4s 703us/step - loss: 0.3838 - acc: 0.8429 - val_loss: 0.3776 - val_acc: 0.8429
Epoch 60/100

5359/5359 [==============================] - 4s 724us/step - loss: 0.3791 - acc: 0.8395 - val_loss: 0.3752 - val_acc: 0.8417
Epoch 61/100
5359/5359 [==============================] - 4s 763us/step - loss: 0.3748 - acc: 0.8412 - val_loss: 0.3795 - val_acc: 0.8353
Epoch 62/100
5359/5359 [==============================] - 3s 499us/step - loss: 0.3809 - acc: 0.8391 - val_loss: 0.3844 - val_acc: 0.8391
Epoch 63/100
5359/5359 [==============================] - 3s 502us/step - loss: 0.3803 - acc: 0.8408 - val_loss: 0.3794 - val_acc: 0.8421
Epoch 64/100
5359/5359 [==============================] - 3s 501us/step - loss: 0.3740 - acc: 0.8431 - val_loss: 0.3802 - val_acc: 0.8451
Epoch 65/100
5359/5359 [==============================] - 3s 507us/step - loss: 0.3747 - acc: 0.8410 - val_loss: 0.3750 - val_acc: 0.8395
Epoch 66/100
5359/5359 [==============================] - 3s 648us/step - loss: 0.3724 - acc: 0.8483 - val_loss: 0.3768 - val_acc: 0.8398
Epoch 67/100
5359/5359 [==============================] - 4s 771us/step - loss: 0.3777 - acc: 0.8429 - val_loss: 0.3708 - val_acc: 0.8497
Epoch 68/100
5359/5359 [==============================] - 4s 790us/step - loss: 0.3758 - acc: 0.8408 - val_loss: 0.3781 - val_acc: 0.8402
Epoch 69/100
5359/5359 [==============================] - 4s 726us/step - loss: 0.3750 - acc: 0.8446 - val_loss: 0.3837 - val_acc: 0.8368
Epoch 70/100
5359/5359 [==============================] - 3s 541us/step - loss: 0.3746 - acc: 0.8468 - val_loss: 0.3765 - val_acc: 0.8440
Epoch 71/100
5359/5359 [==============================] - 4s 730us/step - loss: 0.3730 - acc: 0.8472 - val_loss: 0.3784 - val_acc: 0.8417
Epoch 72/100
5359/5359 [==============================] - 4s 657us/step - loss: 0.3721 - acc: 0.8446 - val_loss: 0.3662 - val_acc: 0.8501
Epoch 73/100
5359/5359 [==============================] - 4s 673us/step - loss: 0.3788 - acc: 0.8436 - val_loss: 0.3708 - val_acc: 0.8470
Epoch 74/100
5359/5359 [==============================] - 5s 912us/step - loss: 0.3718 - acc: 0.8468 - val_loss: 0.3715 - val_acc: 0.8497
Epoch 75/100
5359/5359 [==============================] - 4s 754us/step - loss: 0.3668 - acc: 0.8492 - val_loss: 0.3742 - val_acc: 0.8417
Epoch 76/100
5359/5359 [==============================] - 4s 710us/step - loss: 0.3790 - acc: 0.8436 - val_loss: 0.3775 - val_acc: 0.8463
Epoch 77/100
5359/5359 [==============================] - 4s 701us/step - loss: 0.3780 - acc: 0.8382 - val_loss: 0.3708 - val_acc: 0.8512
Epoch 78/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3693 - acc: 0.8436 - val_loss: 0.3700 - val_acc: 0.8516
Epoch 79/100
5359/5359 [==============================] - 4s 696us/step - loss: 0.3774 - acc: 0.8423 - val_loss: 0.3669 - val_acc: 0.8527
Epoch 80/100
5359/5359 [==============================] - 4s 709us/step - loss: 0.3744 - acc: 0.8483 - val_loss: 0.3698 - val_acc: 0.8501
Epoch 81/100
5359/5359 [==============================] - 4s 695us/step - loss: 0.3726 - acc: 0.8500 - val_loss: 0.3737 - val_acc: 0.8395
Epoch 82/100
5359/5359 [==============================] - 4s 694us/step - loss: 0.3706 - acc: 0.8526 - val_loss: 0.3760 - val_acc: 0.8440
Epoch 83/100
5359/5359 [==============================] - 4s 690us/step - loss: 0.3708 - acc: 0.8434 - val_loss: 0.3703 - val_acc: 0.8504
Epoch 84/100
5359/5359 [==============================] - 4s 693us/step - loss: 0.3740 - acc: 0.8481 - val_loss: 0.3698 - val_acc: 0.8501
Epoch 85/100
5359/5359 [==============================] - 4s 705us/step - loss: 0.3728 - acc: 0.8451 - val_loss: 0.3736 - val_acc: 0.8478
Epoch 86/100
5359/5359 [==============================] - 4s 670us/step - loss: 0.3710 - acc: 0.8446 - val_loss: 0.3668 - val_acc: 0.8542
Epoch 87/100
5359/5359 [==============================] - 4s 690us/step - loss: 0.3750 - acc: 0.8446 - val_loss: 0.3773 - val_acc: 0.8489
Epoch 88/100
5359/5359 [==============================] - 4s 699us/step - loss: 0.3724 - acc: 0.8470 - val_loss: 0.3724 - val_acc: 0.8440
Epoch 89/100
5359/5359 [==============================] - 4s 697us/step - loss: 0.3651 - acc: 0.8479 - val_loss: 0.3682 - val_acc: 0.8508
Epoch 90/100
5359/5359 [==============================] - 4s 699us/step - loss: 0.3753 - acc: 0.8492 - val_loss: 0.3727 - val_acc: 0.8485
Epoch 91/100
5359/5359 [==============================] - 4s 695us/step - loss: 0.3716 - acc: 0.8470 - val_loss: 0.3705 - val_acc: 0.8489
Epoch 92/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3673 - acc: 0.8459 - val_loss: 0.3744 - val_acc: 0.8470
Epoch 93/100
5359/5359 [==============================] - 4s 691us/step - loss: 0.3609 - acc: 0.8503 - val_loss: 0.3649 - val_acc: 0.8531
Epoch 94/100
5359/5359 [==============================] - 4s 695us/step - loss: 0.3717 - acc: 0.8446 - val_loss: 0.3779 - val_acc: 0.8455
Epoch 95/100
5359/5359 [==============================] - 4s 693us/step - loss: 0.3657 - acc: 0.8470 - val_loss: 0.3740 - val_acc: 0.8508
Epoch 96/100
5359/5359 [==============================] - 4s 696us/step - loss: 0.3771 - acc: 0.8479 - val_loss: 0.3750 - val_acc: 0.8459
Epoch 97/100
5359/5359 [==============================] - 4s 692us/step - loss: 0.3693 - acc: 0.8438 - val_loss: 0.3739 - val_acc: 0.8474
Epoch 98/100
5359/5359 [==============================] - 4s 693us/step - loss: 0.3705 - acc: 0.8466 - val_loss: 0.3752 - val_acc: 0.8470
Epoch 99/100
5359/5359 [==============================] - 4s 694us/step - loss: 0.3647 - acc: 0.8475 - val_loss: 0.3731 - val_acc: 0.8512
Epoch 100/100
5359/5359 [==============================] - 4s 689us/step - loss: 0.3754 - acc: 0.8433 - val_loss: 0.3656 - val_acc: 0.8516

In [30]:
# y_pred=model.predict(X_test)
# y_pred=(y_pred>0.5)

In [31]:
# from sklearn.metrics import confusion_matrix
# cm=confusion_matrix(y_test,y_pred)

In [32]:
# cm

array([[1551,   44],
       [ 237,  168]], dtype=int64)

In [33]:
# from sklearn.metrics import accuracy_score
# score=accuracy_score(y_pred,y_test)

In [34]:
# score

0.8595

In [22]:
#Hyperparameter
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

Using TensorFlow backend.

In [23]:
from keras.models import Sequential
from keras.layers import Dense,Activation,Embedding,Flatten,LeakyReLU,BatchNormalization,Dropout
from keras.activations import relu,sigmoid

In [24]:
def create_model(layers,activation):
    model=Sequential()
    for i,nodes in enumerate(layers):
        if(i==0):
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        
    model.add(Dense(units=1,kernel_initializer="glorot_uniform",activation='sigmoid'))
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [25]:
model=KerasClassifier(build_fn=create_model,verbose=0)

In [26]:
layers=[[20],[40,20],[45,30,15]]
activations=['sigmoid','relu']

In [27]:
param_grid=dict(layers=layers,activation=activations,batch_size=[128,256],epochs=[30])
grid=GridSearchCV(estimator=model,param_grid=param_grid,cv=5)

In [29]:
grid_result=grid.fit(X_train,y_train)

WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From C:\Users\Vaibhav\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [30]:
print(grid_result.best_score_,grid_result.best_params_)

0.85525 {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layers': [45, 30, 15]}

In [32]:
y_pred=grid.predict(X_test)
y_pred=(y_pred>0.5)

In [33]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [34]:
cm

array([[1522,   73],
       [ 204,  201]], dtype=int64)

In [35]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [36]:
score

0.8615